alias ls='ls -A1'
alias ll="ls -lAh1"
alias pacman='pacman --color=auto'
alias yay='yay --color=auto'
alias tmux='tmux -u'
alias bat='bat --paging=never -p'

function cs {
	builtin cd "$@" && ls
}

log() {
	LOG_DIR=$HOME/log/
	LOG_FILE=personnal.log
	LOG_PATH=$LOG_DIR$LOG_FILE

	if [ ! -f $LOG_PATH ]
	then
		mkdir -p $LOG_DIR && touch $LOG_PATH && sudo chattr +a $LOG_PATH
    	echo "Created $LOG_PATH"
	fi

	if [ $# -eq 0 ]
	then
		less $LOG_PATH
	else
		echo "$(date -Is) $@" >> $LOG_PATH
	fi
}


docker() {
    if [[ $@ == "container watch" ]]
	then
		command watch -n 1 -t 'docker container ls -a --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'
    else
		command docker "$@"
    fi
}
