alias ls='ls -1 --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias cls='printf "\033c"'
alias pacman='pacman --color=auto'
alias yay='yay --color=auto'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias ip='ip -color=auto'
alias tmux='tmux -u'
alias bat='bat --paging=never -p --theme=base16'

cd() {
	builtin cd "$@" && ls
}

cat() {
	if command -v bat>/dev/null 2>&1
	then
		bat "$@"
	else
		buitlin cat "$@"
	fi
}

c() {
	echo "$(($@))"
}

docker() {
	if [[ $@ == "container watch" ]]
	then
		command watch -n 1 -t 'docker container ls -a --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'
	else
		command docker "$@"
	fi
}
