alias lb='br -dsp'
alias la='ls -A'
alias ll="ls -lhA"
alias tree='ll --tree'
alias cs='cd;ls'
alias ct='cd;tree'
alias pacman='pacman --color=auto'
alias yay='yay --color=auto'

docker() {
    if [[ $@ == "container watch" ]]; then
        command watch -t 'docker container ls -a --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'
    else
        command docker "$@"
    fi
}
