[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".vim/pack/plugins/start/gitgutter"]
	path = .vim/pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/colorizer"]
	path = .vim/pack/plugins/start/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".zsh/powerlevel10k"]
	path = .zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".vim/pack/plugins/start/clang-format"]
	path = .vim/pack/plugins/start/clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule ".vim/pack/plugins/start/vimtex"]
	path = .vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/dependencies/vscode-java-test"]
	path = .config/nvim/dependencies/vscode-java-test
	url = https://github.com/microsoft/vscode-java-test.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/pack/plugins/start/vinegar"]
	path = .vim/pack/plugins/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".zsh/fzf-tab"]
	path = .zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".config/nvim/dependencies/vscode-js-debug"]
	path = .config/nvim/dependencies/vscode-js-debug
	url = https://github.com/microsoft/vscode-js-debug
[submodule ".vim/pack/plugins/start/targets"]
	path = .vim/pack/plugins/start/targets
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/pack/plugins/start/titlecase"]
	path = .vim/pack/plugins/start/titlecase
	url = https://github.com/christoomey/vim-titlecase.git
[submodule ".vim/pack/plugins/start/dadbod"]
	path = .vim/pack/plugins/start/dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".vim/pack/plugins/start/dadbod-ui"]
	path = .vim/pack/plugins/start/dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui.git
[submodule ".vim/pack/plugins/start/dadbod-completion"]
	path = .vim/pack/plugins/start/dadbod-completion
	url = https://github.com/kristijanhusak/vim-dadbod-completion.git
