[user]
	name = Benjamin Lapointe-Pinel
[alias]
	aliases = "!git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'"
	conflicts = "diff --name-only --diff-filter=U --relative"
	branch-prune = "!git fetch -p && git branch -r | awk '{print $1}' | grep -E -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs git branch -D"
	submodule-update = "submodule update --remote --merge"
	adog = "log --all --decorate --oneline --graph --topo-order"
	lg = "!git lg1"
	lg1 = "!git lg1-specific --all"
	lg2 = "!git lg2-specific --all"
	lg3 = "!git lg3-specific --all"
	lg1-specific = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'"
	lg2-specific = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'"
	lg3-specific = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'"
[core]
	fileMode = false
	autocrlf = input
	preloadindex = true
	ignorecase = false
  pager = delta --color-only
[pager]
	branch = false
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
[delta]
	theme = base16-256
