[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/gitgutter"]
	path = .vim/pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/devicons"]
	path = .vim/pack/plugins/start/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/colorizer"]
	path = .vim/pack/plugins/start/colorizer
	url = https://github.com/lilydjwg/colorizer.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/wordmotion"]
	path = .vim/pack/plugins/start/wordmotion
	url = https://github.com/chaoren/vim-wordmotion
	ignore = dirty
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
	ignore = dirty
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	ignore = dirty
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	ignore = dirty
[submodule ".zsh/powerlevel10k"]
	path = .zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/clang-format"]
	path = .vim/pack/plugins/start/clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vimtex"]
	path = .vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
